name: Deploy to Ncloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build and Deploy to Ncloud
        run: npm run build:deploy:ncloud
        env:
          NCLOUD_ACCESS_KEY: ${{ secrets.NCLOUD_ACCESS_KEY }}
          NCLOUD_SECRET_KEY: ${{ secrets.NCLOUD_SECRET_KEY }}
          NCLOUD_EDGE_ID: ${{ secrets.NCLOUD_EDGE_ID }}
          NCLOUD_BUCKET: ${{ secrets.NCLOUD_BUCKET }}
          NCLOUD_ENDPOINT: ${{ vars.NCLOUD_ENDPOINT }}
          NCLOUD_REGION: ${{ vars.NCLOUD_REGION }}
